* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.item {
    padding: 20px;
    background-color: #2f0d0d;
    border: 1px solid #781111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item#header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
}
#info {
    max-width: 30%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: gray;
    text-wrap: nowrap;
}

.item h2 {
    text-decoration: underline;
}
.item div p {
    display: flex;
}
.item div p span {
    flex-grow: 1;
}
.item div h2 {
    text-align: center;
    text-transform: capitalize;
}

.block-name {
    text-align: start;
    text-transform: uppercase;
    overflow: hidden;
}
.block-value {
    text-align: end;
    text-transform: capitalize;
}
.block-name:after {
    color: gray;
    content: "......................................";
}

#errors div h1 {
    text-decoration: underline;
    color: #2f0d0d;
}
#errors div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #b15b5b;
    border-radius: 20px;
    padding: 30px;
    background-color: #522929;
    color: white;
}